body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title, .content, .button-container{
  padding: 5px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  display: block;
  margin: 0 auto;
}